/**2014-6-28新增样式**/
#orderCartStep1 {
	background: url(../../img/buyStep.gif) 0 -25px no-repeat;
}

#orderCartStep1 .step1 {
	color: #f94f00;
}

#orderCartStep1 .step2 {
	color: #fff;
}

.mrgR10 {
	margin-right: 10px;
}

.chooseBc {
	background: #f9f5ec;
}

.radio {
	width: 13px;
	height: 13px;
}

.fillTab {
	width: 381px;
	height: 35px;
	margin: 20px 0;
	background: url(../../img/tabBg.gif) 0 -35px
		no-repeat;
}

.fillTab li {
	float: left;
	width: 148px;
	padding-left: 42px;
	height: 35px;
	line-height: 33px;
	font-weight: bold;
}

.fillTab li.orderCartStep {
	margin-right: 1px;
	cursor: pointer;
}

.fillTab li.scheduleStep {
	cursor: pointer;
}
/*填写内容信息*/
.content {
	overflow: visible;
	border: 1px solid #edd3be;
	margin: 0 auto;
	margin-bottom: 35px;
	padding-top: 20px;
}

.infoTitle {
	line-height: 30px;
	overflow: auto;
	padding: 0px 0px 0 20px; /* font-size: 14px; */
}

.lineColorEdd3be {
	font-size: 1px;
	line-height: 1px;
	border-top: 1px solid #edd3be;
	margin-bottom: 10px;
}

.lineColorB2d1ff {
	font-size: 1px;
	line-height: 2px;
	border-top: 1px solid #b2d1ff;
	margin: 15px 0 10px;
}
/**.infoBox{position:relative;z-index:999;padding:10px 30px;}**/
.infoBox {
	padding: 10px 30px;
}

input[type="text"] {
	float: left;
	margin-right: 10px;
	color: #999;
	margin-top: 1px;
}

.infoBox select {
	float: left;
	margin: 1px 5px 0 0;
	border: 1px solid #bbb;
	padding: 2px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
}

.infoBox h4 {
	font-weight: bold;
	color: #666666;
	height: 15px;
	padding-bottom: 15px;
	padding-top: 10px;
	width: 500px;
}

.borB {
	border-bottom: 1px dotted #EDD3BE;
}

.dispatch, .pay, .cashOnDeliveryMode {
	overflow: hidden;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 24px;
	clear: both;
	padding: 6px 0 0 10px;
	cursor: pointer;
}

.dispatch span.discribe {
	display: block;
	float: left;
	color: #999;
}

.dispatch label.preOrderTime {
	width: 270px;
	margin-top: -2px;
	display: block;
	float: left;
	cursor: pointer;
}

.preOrderTime input {
	height: 21px;
	line-height: 21px;
}

.preOrderTime  i {
	float: left;
	font-style: normal;
	margin-top: 2px;
}

.timeIcon {
	position: absolute;
	left: 240px;
	top: 4px;
	cursor: pointer;
	width: 25px;
	height: 25px;
	background: #fff;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}

em {
	font-style: normal;
}

.timeInputBc {
	background: #fff url(../../img/timeIcon.gif) 90px 2px
		no-repeat;
}

.infoShow {
	overflow: auto;
	padding: 0px 30px;
	margin-bottom: 10px;
}

.correct {
	float: left;
	width: 18px;
	height: 18px;
	margin-top: 4px;
	background: url(../../img/fillout_order_info.png)
		-23px -2px;
}

.error {
	float: left;
	height: 21px;
	overflow: auto;
	border: 1px solid #ff8080;
	padding: 3px 10px 0 25px;
	background: url(../../img/cancel.gif) 3px 3px #ffeaea no-repeat;
	color: #c00;
	margin-top: 1px;
}

.addListDetal {
	float: left;
	margin-top: 3px;
	max-width: 650px;
	_width: 600px;
}

.radioLabel {
	float: left;
	width: 120px;
	margin: 3px 15px 0 0;
	cursor: pointer;
}

.radioLabel a {
	display: block;
	color: #36c;
	cursor: default;
}

.radioLabel a:hover {
	text-decoration: none;
}

.addListDetal label {
	line-height: 23px;
	float: left;
}

.noSendReason {
	position: absolute;
	z-index: 999;
	top: 25px;
	left: 120px;
	padding: 0 2px;
	border: 1px solid #ccc;
	background: #fcfcfc;
	display: none;
}
/*输入框宽度*/
.inputWidth228px {
	width: 323px;
	border: 1px solid #bbb;
	height: 23px;
	line-height: 23px;
	font-size: 14px;
}

.inputWidth183px {
	width: 183px;
	border: 1px solid #bbb;
	height: 24px;
	line-height: 24px;
}

.inputWidth315px {
	width: 315px;
	border: 1px solid #bbb;
	height: 24px;
	line-height: 24px;
}

.inputWidth103px {
	width: 103px;
	border: 1px solid #bbb;
	height: 24px;
	line-height: 24px;
}

.inputWidth250px {
	width: 301px;
	border: 1px solid #bbb;
	height: 23px;
	line-height: 23px;
}

.inputWidth113px {
	width: 113px;
	border: 1px solid #bbb;
	height: 24px;
	line-height: 24px;
}
/*入网资料*/
.infoAddress td {
	padding-bottom: 10px;
	text-align: left;
}

.infoAddress th {
	width: 80px;
	padding-bottom: 10px;
	text-align: right;
}

.network th {
	text-align: right;
	width: 80px;
	padding: 5px 0;
}

.network td {
	text-align: left;
	padding: 5px 0;
}

.promptOne, .promptTwo {
	position: relative;
	padding-left: 16px;
}

.promptTwoNew label {
	color: #f00;
}

.promptOne span, .promptTwo span {
	position: absolute;
	left: 0;
	top: 3px;
	display: block;
	width: 11px;
	height: 14px;
	background: url(../../img/fillout_order_info.png)
		-76px -2px;
}

.promptOne label { /* color:#f60; */
	font-weight: bold;
}

.promptTwo label {
	color: #999;
}

.addBtn {
	display: inline-block;
	padding: 0 20px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	border: 0;
	color: #fff;
	background: #ef8700;
	border: 1px solid #d56000;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.addBtn:hover {
	text-decoration: none;
	color: #fff;
	background: #f3aa00;
}

.quitChangeBtn {
	color: #36c;
	margin-left: 15px;
}

.marginTop10px {
	overflow: auto;
	margin-top: 10px;
}

.marginBottom10px {
	overflow: auto;
	margin-bottom: 10px;
}

.infoShow p {
	margin-bottom: 10px;
}

.agree_renda {
	position: absolute;
	top: 900px;
	left: 0;
	z-index: 10000002;
	width: 670px;
	overflow: hidden;
}

.agree_order25 {
	position: absolute;
	top: 900px;
	left: 0;
	z-index: 10000002;
	width: 670px;
	overflow: hidden;
}

/*地址信息*/
.addressList {
	width: 908px;
	overflow: auto;
	background: #fff;
	padding: 0 5px 5px;
}

.addressList li {
	position: relative;
	z-index: 0;
	width: 908px;
	overflow: auto;
	padding: 5px 0px;
	cursor: pointer;
}

.addressList li.dq {
	background: #f9f5ec;
}

.dqNew {
	background: #f9f5ec;
	cursor: pointer;
}

.addressList li.dqHover {
	background: #fef8f2;
}

.dqHoverNew {
	background: #fef8f2;
	cursor: pointer;
}

.addressList li input {
	margin: 5px 10px 0 5px; *+
	margin: 0px 10px 0 5px;
	_margin: 0px 10px 0 5px
}

.addressList li input, .addressList li span {
	float: left;
}

.addressList li em {
	float: right;
	margin-right: 10px;
	font-style: normal;
}

.addressList li em a {
	margin-left: 15px;
	color: #36c;
	margin-top: 5px;
	float: left;
	display: block;
}

.addressAdd {
	margin: 0 10px;
	padding: 10px 0;
	overflow: hidden;
	cursor: pointer;
}

.addressAdd em {
	cursor: pointer;
	color: #36c;
}

.addressAdd label {
	cursor: pointer;
}

.addressAdd .blueFont {
	cursor: pointer;
	color: #36c;
}

.infoAddress {
	margin-top: 10px;
}

.infoAddress td label, .infoAddress td span {
	float: left;
	display: block;
	padding-top: 5px;
}

.addressCursor {
	overflow: hidden;
	float: left;
	width: 820px;
}
/*支付方式*/
.cashOnDeliveryMode {
	width: 900px;
	padding-left: 20px;
	display: non;
}

.pay span, .pay label, .pay div {
	float: left;
}

.pay input {
	float: left;
	display: block;
	margin-top: 2px;
}

.cashOnDeliveryMode  .paymentMode {
	width: 130px;
	display: inline-block;
	cursor: pointer;
}

.pay .paymentMode {
	width: 140px;
	cursor: pointer;
}

.pay .hery {
	color: #999;
}

.pay .paymentModeExplain {
	width: 350px;
	color: #999;
	cursor: pointer;
}

.cashOnDeliveryMode .paymentModeExplain {
	width: 680px;
	color: #999;
}

.pay .promptQ {
	width: 300px;
	float: left;
	color: #f60;
	line-height: 24px;
	height: 24px;
}

.promptQ span {
	display: block;
	width: 11px;
	height: 14px;
	background: url(../../img/fillout_order_info.png)
		-76px -2px;
	margin: 5px;
}

.promptOne {
	line-height: 24px;
	color: #999;
}

.payMentInstallSub {
	display: none;
}

.payMentInstallSub .sub-left {
	width: 44px;
	float: left;
	padding: 0 0px 0 24px;
}

.payMentInstallSub .sub-right {
	float: left;
}

.payMentInstallSub .sub-right .radio {
	margin-right: 4px;
}

.payMentInstallSub .bankSub {
	margin-right: 36px;
}

.payMentInstallSub .bankSub .emW {
	width: 40px;
	float: left;
}
/*修改按钮隐藏*/
.submitText {
	color: #c00;
	display: block;
	float: right;
	margin: 10px 10px 0 0;
}

/*商品清单*/
.detailedList {
	width: 978px;
	overflow: auto;
	border: 1px solid #edd3be;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding: 1px;
}

.detailedList table {
	text-align: center;
}

.detailedList table th {
	background: #f9f5ec;
	height: 28px;
	line-height: 28px;
}

.detailedList table td {
	padding: 10px 0;
	border-bottom: 1px solid #edd3be;
}

.detailedList th.four, .detailedList td.discount {
	text-align: left;
}

.four label {
	margin-left: 20px;
}

.one {
	width: 300px
}

.two {
	width: 334px
}

.three {
	width: 100px
}

.four {
	width: 142px
}

.five {
	width: 100px
}

.discount p {
	margin-left: 20px;
}

.productPic {
	border: 1px solid #edd3be;
	height: 68px;
	width: 68px;
	overflow: hidden;
	margin-left: 15px;
	float: left;
	display: block;
}

.productPic img {
	height: 68px;
	width: 68px;
}

.productName {
	width: 180px;
	margin-left: 10px;
	float: left;
}

.productName p {
	text-align: left;
}
/**可选促销活动**/
.chooseActivity {
	margin: 10px 0 20px 0px;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
}

.activeList td {
	text-align: left;
	line-height: 23px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 9px;
	font-size: 14px;
}

.activeList td.oneAct {
	width: 25px;
	vertical-align: top;
}

.twoAct {
	width: 240px;
}

.activeList td.color99 {
	color: #999;
	line-height: 20px;
}

.width500 {
	width: 500px;
}

.threeAct {
	width: 542px;
	padding-left: 10px;
	color: #999;
}

.activeList td.fourAct {
	width: 100px;
	text-align: center;
}

.activeCheckbox {
	float: left;
	margin-top: 7px;
	*margin-top: 2px;
	margin-left: 20px;
}
/*结算信息*/
.remark {
	margin-left: 20px;
	overflow: hidden;
	height: 30px;
}

.checkoutBox {
	margin: 10px 28px;
	width: 920px;
	overflow: auto;
}

.checkoutLeft {
	width: 640px;
	overflow: auto;
	float: left;
}

.checkoutLeft h6 {
	padding-bottom: 15px;
	overflow: auto;
	_width: 100%;
}

.checkoutLeft h6 span, .checkoutLeft h6 label {
	color: #36c;
	font-weight: bold;
	display: block;
	float: left;
	cursor: pointer;
	font-size: 12px;
}

.checkoutLeft h6 span {
	width: 15px;
	height: 15px;
	background: url(../../img/fillout_order_info.png);
	margin: 2px 5px 0 0;
	margin-top: 1px\9;
}

.checkoutLeft h6 span.open {
	background-position: -43px -2px;
	cursor: pointer;
}

.checkoutLeft h6 span.close {
	background-position: -59px -2px;
	cursor: pointer;
}

.coupon {
	overflow: hidden;
	width: 628px;
	margin-bottom: 10px;
	border: 1px solid #64b1d8;
}

.couponNo {
	width: 100%;
	overflow: auto;
	margin-right: -20px;
}

.couponNo label, .couponNo a {
	display: block;
	float: right;
}

.couponNo label {
	margin-top: 3px;
	color: #999;
}

.couponNo label em {
	display: block;
	width: 11px;
	height: 14px;
	margin: 2px 5px 0 0;
	background: url(../../img/fillout_order_info.png)
		-76px -2px;
	float: left;
}

.couponNo a.notUseCoupon {
	width: 144px;
	height: 27px;
	background: url(../../img/receptionAllButton.png) -93px -200px no-repeat;
}

.couponNo a.notUseCoupon:hover {
	background: url(../../img/receptionAllButton.png) -93px -172px no-repeat;
}

.promptTwo {
	color: #f00;
	margin-bottom: 10px;
	overflow: auto;
	width: 100%;
}

.addCoupon {
	overflow: hidden;
	width: 598px;
	clear: both;
	margin: 0 20px 10px 0;
}

.addCoupon span, .addCoupon input, .addCoupon a {
	float: left;
	margin-right: 5px;
}

.addCoupon span {
	display: block;
	margin-top: 4px;
	margin-top: 5px\9;
}

.addCoupon input {
	height: 24px;
	line-height: 24px;
	margin-top: 1px;
}

.couponInfo {
	overflow: auto;
	width: 100%;
	clear: both;
	margin-bottom: 10px;
}

.couponInfo input, .couponInfo div {
	float: left;
}

.couponInfo div label {
	line-height: 23px;
}

.moneyCardRed .couMoney {
	color: #c20;
}

.couponInfo input {
	margin: 5px 10px 0 0;
	line-height: 24px;
}

.couponInfo div {
	border: 1px solid #bbb;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
}

.couponInfo div.moneyCardRed {
	border: 1px solid #c00;
}

.couponInfo div.moneyCardRed label {
	color: #c00;
}

.couponInfo div label {
	margin-right: 20px;
}

.checkoutRight {
	width: 280px;
	overflow: hidden;
	float: left;
	text-align: right;
}

.checkoutRight li {
	line-height: 28px;
	height: 28px;
	color: #666;
	font-size: 12px;
}

.orderFormMoney {
	font-size: 16px;
	color: #CC0000;
	font-weight: bold;
	margin-top: 10px;
	padding: 5px 20px 5px 0;
	text-align: right;
}

.orderFormMoney .moneyQ {
	font-size: 30px;
	color: #CC0000;
	line-height: 30px;
	margin-bottom: 8px;
}

.relatedAgreement {
	font-size: 16px;
	color: #CC0000;
	font-weight: bold;
	margin-top: 10px;
	padding: 5px 20px 5px 0;
	border-top: 1px solid #edd3be;
}

.relatedAgreement p {
	margin: 10px 0 10px 30px;
}

.relatedAgreement a {
	color: #36c;
}

.relatedAgreement a:hover {
	cursor: pointer;
	color: #f60;
}

.relatedAgreement span {
	color: #f60;
	display: inline-block;
	height: 15px;
}

.relatedAgreement .star {
	vertical-align: -2px;
}

.relatedAgreement .read {
	margin: 0 30px;
	color: #000;
}

.invoice {
	padding-left: 20px;
}

.invoice li {
	clear: both;
	overflow: auto;
	_width: 100%;
	margin-bottom: 10px;
}

.invoice span, .invoice label {
	display: block;
	float: left;
	margin: 5px 5px 0 0;
	font-size: 13px;
}

.invoice input {
	float: left;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	margin-right: 5px;
}

.invoice li select {
	float: left;
	height: 24px;
	line-height: 24px;
	margin-top: 2px;
	font-size: 14px;
}

.remark {
	margin-left: 20px;
	overflow: hidden;
	height: 30px;
}

.remark h4 label {
	float: left;
	color: #36c;
	font-weight: bold;
	display: block;
	margin-top: 4px;
	font-size: 14px;
}

.remark input {
	float: left;
}

.allError {
	color: #ff0000;
}

.submit .clicked {
	background-position: -128px -60px;
	cursor: auto;
}

.delBox {
	width: 149px;
	height: 53px;
	padding-top: 5px;
	border: 1px solid #ED6D00;
	position: absolute;
	left: 784px;
	left: 723px\9;
	left: 725px\0;
	_left: 705px;
	top: -46px;
	z-index: 1;
	text-align: center;
	background-color: #fff;
}

.delBox p {
	padding-bottom: 2px;
	padding-bottom: 5px\0;
	*padding-bottom: 5px;
	padding-top: 5px
}

.delClose {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.delArrow {
	position: absolute;
	bottom: -9px;
	right: 8px;
	_right: 16px;
}

.submitArea {
	background: #f9f5ec;
	padding: 35px 20px 0 0;
	border-top: 1px solid #edd3be;
	overflow: hidden;
	zoom: 1;
}

.submitAdressD {
	overflow: hidden;
	width: 100%;
}

.submitAdressD label, .submitAdressD span {
	float: right;
}

.adressNameDressPhone {
	float: right;
	overflow: hidden;
	margin-right: 10px;
}

.adressNameDressPhone .sendName {
	float: left;
	max-width: 120px;
}

.adressNameDressPhone .addressDD {
	float: left;
	margin-top: -2px;
}

.adressNameDressPhone .addressDD p {
	text-align: left;
	line-height: 20px;
	padding: 0;
}

.orderSubmit {
	width: 125px;
	height: 37px;
	line-height: 37px;
	background: #fa7100;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	display: block;
	float: right;
	margin: 10px 0 20px;
}

.orderSubmitHery {
	display: block;
	float: right;
	width: 125px;
	height: 37px;
	line-height: 37px;
	margin: 10px 0 20px;
	color: #8d8d8d;
	background: #ddd;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

a.orderSubmit:hover {
	color: #fff;
	background: #f3aa00;
	text-decoration: none;
}

a.orderSubmitHery:hover {
	color: #8d8d8d;
	background: #ddd;
	text-decoration: none;
}

.submitArea p {
	text-align: right;
	line-height: 25px;
	padding: 5px 0;
}

.sendName, .sendAdress {
	margin-right: 10px;
	max-width: 700px;
	_width: expression(this.scrollWidth > 700 ? "700px" : "auto");
}

.changeAdress {
	color: #36c;
	cursor: pointer;
}

.submitTips {
	overflow: hidden;
}

.tipsError {
	float: right;
	position: relative;
	border: 1px solid #ffc892;
	height: 23px;
	line-height: 23px;
	padding: 0 10px;
	margin: 18px 10px 0 0;
	background: #fefbf5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.tangleOut {
	position: absolute;
	right: -8px;
	top: 3px;
	color: #ffc892;
	font-size: 12px;
}

.tangleIn {
	position: absolute;
	right: -7px;
	top: 3px;
	color: #fefbf5;
	font-size: 12px;
}

.subTipWord {
	float: left;
	margin-top: 3px;
	color: #858484;
}
/**/
.agreement {
	margin: 0 5px 10px 0;
}

.agreement input {
	margin-right: 10px;
	margin-top: 2px;
	vertical-align: middle;
}

.agreement label {
	cursor: pointer;
}

.textCon {
	height: 350px;
	padding: 10px;
	background: #fff;
	width: 590px;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	margin-left: 10px;
}

.textCon h2 {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 23px;
}

.textCon p {
	font-size: 14px;
	line-height: 23px;
}

.textCon .secondtitle {
	text-align: center;
}

.textCon .atright {
	text-align: right;
}

.textCon .athead {
	text-indent: 2em;
}
/*商品清单*/
.goodListZs {
	width: 330px;
}

.goodListZs ul li {
	position: relative;
	float: left;
	width: 165px;
	text-align: left;
	line-height: 23px;
}

.numberMain {
	position: absolute;
	left: -18px;
	top: 4px;
	height: 16px;
	width: 16px;
	background: url(../../img/diyIcon.png) 0 -56px no-repeat;
}

.closeBtn {
	margin: 10px auto;
	width: 100px;
}

.cloBtn {
	background: url(../../img/receptionAllButton.png) -301px -72px no-repeat;
	border: none;
	width: 68px;
	height: 23px;
	line-height: 23px;
	display: block;
	text-align: center;
}

.cloBtn:hover {
	background: url(../../img/receptionAllButton.png) -301px -96px no-repeat;
	text-decoration: none;
	color: #333;
}

.cloBtn:active {
	background: url(../../img/receptionAllButton.png) -301px -120px
		no-repeat;
	text-decoration: none;
	color: #333;
}
/**预约办理**/
.queryCondition {
	width: 100%;
	height: 26px;
	margin: 10px 0 20px 0;
}

.queryCondition th {
	text-align: right;
}

.inputW110H24 {
	width: 110px;
	padding: 3px;
}

.inputW230H24 {
	width: 230px;
	height: 24px;
	line-height: 24px;
}

.searchAera {
	width: 58px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	background: url(../../img/fillout_order_info.png) 0
		-98px no-repeat;
}

.businessHallList {
	background: #e3e3e3;
}

.businessHallList td, .businessHallList th {
	padding: 10px 0;
}

.businessHallList th {
	background: #f7f7f7;
}

.businessHallList td {
	text-align: center;
	background: #fff;
}

.businessHallList td p {
	width: 300px;
	padding: 0 15px;
}

.scheduleSubmit {
	display: block;
	width: 118px;
	height: 37px;
	margin: 20px auto;
	border: 0;
	cursor: pointer;
	background: url(../../img/fillout_order_info.png) 0
		-129px no-repeat;
}

/**详情弹出窗口**/
.popWin {
	width: 470px;
	z-index: 9999999999;
}

.popWin .popTop {
	width: 100%;
	height: 36px;
	background: url(../../img/popBg_header.png) no-repeat;
}

.popWin .popTop h3 {
	color: #FFF;
	padding: 8px 0 0 20px;
}

.popWin #closeWin {
	position: absolute;
	right: 7px;
	top: 5px;
	cursor: pointer;
}

.popWin .popCont {
	background: url(../../img/popBg_mid.png) repeat-y;
	padding: 5px 20px 13px;
}

.popWin table {
	background-color: #E3E3E3;
	width: 100%;
}

.popWin tr td {
	background-color: #FFF;
	padding: 7px 15px;
}

.popWin .popBottom {
	background: url(../../img/popBg_bottom.png) no-repeat;
	height: 10px;
	width: 100%;
}

.numberListCatpcha {
	float: left;
}

#changeVerifyCode {
	display: none;
}

.numberListCatpcha img {
	margin-right: 5px;
}

.numberBox {
	position: fixed;
	right: 0;
	top: 150px;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop));
	_margin-top: 150px;
	z-index: 9999999;
	width: 155px;
	height: 131px;
	background: url(../../img/num_time.gif) no-repeat;
}

.numberBox h2 {
	margin-top: 20px;
	padding-left: 60px;
	font-weight: bold;
}

.numberBox .numTime {
	background: #fef8f2;
	border: 1px solid #e3e3e3;
	width: 117px;
	height: 44px;
	margin: 15px 7px 0 7px;
	padding: 10px;
}

.numberBox p.numClose {
	display: block;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.numberBox .numTime p.num {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px
}

.numberBox .numTime p em {
	float: left;
	font-style: normal;
	line-height: 24px;
}

.numberBox .numTime p span {
	background: url(../../img/num_time_bg.gif) no-repeat;
	width: 28px;
	height: 24px;
	color: #fff;
	display: block;
	float: left;
	text-align: center;
	line-height: 24px;
	margin: 0 2px;
}

/**自提点**/
.sfHeader {
	border: 1px solid #B2D1FF;
	border-width: 1px 1px 0;
	background: #f6f8fd;
	height: 30px;
}

.sfHeader td {
	border: 1px solid #f6f8fd;
	border-width: 0 1px 1px 0;
	border-bottom-color: #eee;
	padding: 10px;
	text-align: center;
}

.sfBox {
	border: 1px solid #B2D1FF;
	border-width: 0 1px 1px;
	max-height: 275px;
	_height: expression(this.scrollHeight > 275 ? "275px" : "auto");
	overflow-y: auto;
	overflow-x: hidden;
}

.sfBody tr {
	background: #fff;
}

.sfBody tr.trBlue {
	background: #f5faff;
}

.sfBody td {
	border: 1px solid #eee;
	border-width: 0 1px 1px 0;
	height: 55px;
	padding: 0 10px;
}

.radioBox {
	width: 12px;
	text-align: center;
}

.radioBox input {
	float: none;
	margin: 0;
}

.sfName {
	width: 100px;
}

.sfAddr, .traffic {
	width: 304px;
}

.teleNum {
	width: 94px;
}

.sfHeader td.teleNum, .sfBody td.teleNum {
	border-width: 0 0 1px;
}

/*证件照片*/
.idImg label {
	float: left;
	margin-right: 30px;
	*padding-top: 4px;
}

.helpInfo {
	cursor: pointer;
	float: right;
	position: relative;
	z-index: 9999;
	margin-right: 170px;
	display: inline;
}

.help {
	background: url("../../img/fillout_order_info.png")
		no-repeat scroll -92px -2px transparent;
	display: block;
	float: left;
	height: 16px;
	margin-right: 2px;
	width: 16px;
}

.helpInfo a {
	color: #3366CC;
}

.helpInfo .helpInfoBg {
	background: url("../../img/tri_bg.gif") no-repeat;
	display: block;
	position: absolute;
	top: 19px;
	left: 55px;
	width: 5px;
	height: 5px;
	z-index: 1000;
}

.helpInfo .helpDelimiterInfo {
	background: none repeat scroll 0 0 #f5faff;
	border: 1px solid #DDDDDD;
	color: #666666;
	display: block;
	padding: 2px;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 22px;
	width: 170px;
	z-index: 999;
}

.imgReq {
	color: #999;
	margin-bottom: 10px;
}

.idImages {
	padding-bottom: 10px;
	overflow: hidden;
}

.idImages dl {
	float: left;
}

.idImages .loadImg {
	width: 190px;
	margin-right: 20px;
}

.idImages .loadImg dd {
	margin-top: 15px;
	padding-left: 18px;
}

.idImages .demoImg {
	width: 110px;
	margin-right: 35px;
}

.idImages .demoImg dd {
	margin-top: 15px;
}

.loadBtn {
	cursor: pointer;
	color: #333;
	display: block;
	margin-top: 15px;
	width: 81px;
	height: 23px;
	line-height: 23px;
	text-align: center;
	background: url("../../img/xieyiBtn.gif") no-repeat;
	border: none;
}

.loadBtn:hover {
	color: #333;
	text-decoration: none;
}

.cf60 {
	color: #f60;
}

/*****使用我的代金卷begin******/
.mediumLayer {
	position: absolute;
	top: 550px;
	left: 700px;
	z-index: 10000002;
	width: 410px;
	overflow: hidden;
}

.mediumLayerT {
	width: 410px;
	height: 34px;
	background: url(../../img/mediumLayerT.png) no-repeat;
}

.mediumLayerT span {
	float: left;
	font-weight: 600;
	color: #fff;
	margin: 10px 0 0 15px;
}

.mediumLayerT .closeCityLayer {
	float: right;
	display: block;
	width: 14px;
	height: 14px;
	margin: 12px 15px 0 0;
	cursor: pointer;
	_margin-right: 7px;
}

.mediumLayerT .closeCityLayerTwo {
	float: right;
	display: block;
	width: 14px;
	height: 14px;
	margin: 12px 15px 0 0;
	cursor: pointer;
	_margin-right: 7px;
}

.mediumLayerM {
	width: 380px;
	overflow: auto;
	padding: 5px 15px;
	background: url(../../img/mediumLayerM.png) repeat-y;
	overflow: hidden;
}

.mediumLayerB {
	width: 410px;
	height: 10px;
	font-size: 10px;
	line-height: 10px;
	background: url(../../img/mediumLayerB.png) no-repeat;
}

.mediumLayer .content {
	padding: 16px 30px;
}

.mediumLayer .errorP i {
	float: left;
	width: 37px;
	height: 37px;
	margin: -4px 18px 0 4px;
	background: url(../../img/err404Small.png) no-repeat 0;
}

.numberDl {
	margin: 10px 0 0;
	height: 30px;
	clear: both;
}

.numberDl label {
	display: inline-block;
	float: left;
	line-height: 26px;
	width: 75px;
	text-align: right;
}

.floatRight {
	float: right;
}

.successCon {
	padding: 16px 30px;
}

.successCon-ul {
	overflow: hidden;
	margin-right: -20px;
}

.successCon-ul li {
	float: left;
	padding: 4px 0;
}

.successCon-icon {
	width: 60px;
	height: 50px;
	padding: 0;
	background: url("../../img/findpwdDoneIcon.gif") no-repeat
		0 0;
}

.successCon-text {
	width: 270px;
}

.successCon-mval {
	width: 130px;
}

.successCon-time {
	width: 130px;
}

.successCon-btn {
	overflow: hidden;
	padding: 4px 0 4px 100px
}

.successCon-btn input {
	float: left;
	margin: 0 10px 0;
}

.successCon-btn a {
	line-height: 22px;
}

.checkBox {
	width: 13px;
	height: 13px;
}

.labelCheckbox {
	float: left;
	margin-left: 4px;
}

.labelCheckbox .checkBox {
	float: left;
	margin-right: 6px;
}

.coupon .tHeader {
	background: #F2F7FF;
}

.coupon .tHeader td {
	height: 20px;
	font-size: 12px;
}

.coupon .tBodyList {
	padding: 5px;
}

.coupon .tBodyList td {
	white-space: nowrap;
}

.coupon .tBodyList .bgcoupon {
	background: #F2F7FF;
}

.coupon .tBodyList .bgcouponGray {
	background: #efefef;
}

.coupon .tBodyList .labelCheckbox {
	width: 170px;
	text-align: left;
}

.coupon .noContent {
	text-align: center;
	padding: 25px 0;
	font-size: 12px;
}

.coupon .btns {
	overflow: hidden;
	padding: 6px;
}

.coupon .btns .noUse {
	float: left;
	line-height: 30px;
	color: #36c;
}

.coupon .btns .noUse:hover {
	color: #36c;
	text-decoration: none;
}

.coupon .btns .addBtn {
	float: right;
}

.coupon .one {
	width: 160px;
}

.coupon .two {
	width: 90px;
}

.coupon .three {
	width: 130px;
}

.coupon .four {
	width: 110px;
}

.coupon .five {
	width: 110px;
}

.coupon .five p {
	width: 110px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.numberDl input {
	float: left;
}

.verificationImg {
	float: left;
	height: 24px;
	margin-right: 5px;
	width: 70px;
}

.verifyError {
	display: none;
	position: absolute;
	left: 52px;
	top: -34px;
	height: 33px;
}

.errorText {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	border: 1px solid #e3e3e3;
	background: #FFFFBF;
}

.errorText i {
	float: left;
	width: 19px;
	height: 18px;
	margin: 3px 0;
	background: url(../../img/fillout_order_info.png)
		no-repeat -130px -1px;
	font-size: 0;
}

.errorText b {
	cursor: pointer;
	float: left;
	width: 9px;
	height: 9px;
	margin-top: 2px;
	background: url(../../img/fillout_order_info.png)
		no-repeat -154px 0;
	font-size: 0;
}

.errorText span {
	float: left;
	line-height: 24px;
	color: #bb5045;
	padding: 0 5px;
}

.verifyError s {
	position: absolute;
	left: 40px;
	bottom: 0;
	width: 15px;
	height: 8px;
	background: url(../../img/fillout_order_info.png)
		-111px -5px no-repeat;
	font-size: 0;
}

.noUseTips {
	display: none;
	position: absolute;
	z-index: 1000001;
}

.noUseTips span {
	display: inline-block;
	width: 200px;
	padding: 5px;
	border: 1px solid #64B1D8;
	background: #fff;
}

.noUseTips .arrow {
	position: absolute;
	width: 16px;
	height: 14px;
	height: 17px\9;
	overflow: hidden;
	top: -7px;
	top: -8px\9;
	left: 45%;
}

.noUseTips .arrow-one {
	color: #64B1D8;
}

.noUseTips .arrow-two {
	color: #fff;
	position: absolute;
	left: 0;
	top: 2px;
}

.inputW64H24 {
	border: 1px solid #BBBBBB;
	height: 24px;
	margin: 6px 5px 0;
	padding-left: 2px;
	line-height: 24px;
	width: 50px;
}
/*****使用我的代金卷end******/

/*弹出层样式begin*/
.popLayer {
	width: 359px;
	position: absolute;
	z-index: 10000003;
	display: none;
}

.popLayerTop {
	width: 359px;
	height: 35px;
	background: url(../../img/tipsLayerTOrange.png) no-repeat;
	position: relative;
}

.popLayerTop h3 {
	padding: 12px 0 0 22px;
	color: #fff;
	font-weight: bold;
	width: 60px;
}

.popLayerTop .closeBtn {
	cursor: pointer;
	width: 22px;
	height: 22px;
	position: absolute;
	right: 8px;
	top: 6px;
	margin: 0;
}

.popLayerMid {
	width: 359px;
	background: url(../../img/tipsLayerM.png) repeat-y;
	padding-bottom: 30px;
}

.popLayerMid .sureBtn {
	margin: 0 auto;
}

.tipsDl {
	padding: 20px 0 20px 30px;
	overflow: hidden;
}

.tipsDl dt, .tipsDl dd {
	float: left;
}

.tipsDl dt {
	width: 75px;
	padding: 0 0 0 10px
}

.tipsDl dd {
	width: 210px;
	padding: 10px 0 0 20px;
}

.tipsDl dd p {
	padding: 0;
	margin-bottom: 5px;
	text-align: left;
}

.shortOrangeBtn {
	width: 81px;
	height: 19px;
	line-height: 19px;
	display: block;
	text-align: center;
	color: #fff;
	border: none;
	background: url("../../img/tipsLayerBtn.gif") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
}

.shortOrangeBtn:hover {
	color: #fff;
	text-decoration: none;
}

.popLayerBot {
	width: 359px;
	height: 9px;
	background: url(../../img/tipsLayerB.png) no-repeat;
}

.track {
	color: #36c;
}
/*弹出层样式end*/

/*手机卡信息：*/
.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
}

.inputRadio {
	width: 13px;
	height: 13px;
}

.phone-type {
	margin-bottom: 8px;
}

.phone-type li {
	margin-bottom: 8px;
	line-height: 20px;
	padding-top: 5px;
	cursor: pointer;
}

.phone-type .label-mode {
	float: left;
	width: 100px;
	cursor: pointer;
}

.phone-type span {
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
}

.phone-type .span-mode {
	color: #999;
	overflow: hidden;
}

.phone-type .span-mode span {
	color: #999;
}

.ellipsis {
	float: left;
	height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 650px;
}

.phone-title {
	margin-bottom: 12px;
	padding-top: 4px;
}

.phone-type {
	padding-left: 18px;
}

.c999 {
	color: #999;
}

/*日历弹出层begin*/
.calendar-box {
	display: none;
	position: absolute;
	z-index: 100000009;
	width: 252px;
	left: 154px;
	border: 1px solid #888;
	background: #fff;
	top: 28px;
}

.calendar {
	width: 252px;
	margin-bottom: 10px;
	background: #fff;
}

.calendar-top {
	padding: 15px 0 10px;
	height: 20px;
}

.cal-shut {
	cursor: pointer;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 28px;
	color: #ccc;
}

.cal-months {
	height: 20px;
}

.cal-months a {
	float: left;
	line-height: 18px;
	padding: 0 15px;
	border-right: 1px solid #ccc;
	color: #999;
	font-size: 16px;
	text-align: center;
}

.cal-months a.current {
	color: #000;
}

.cal-months a:last-child {
	border-right: 0;
}

.cal-weekdays {
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.cal-weekdays li {
	float: left;
	width: 36px;
	line-height: 20px;
	text-align: center;
	font-size: 10px;
	color: #999;
}

.cal-dates-w {
	position: relative;
	height: 160px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.cal-dates {
	position: absolute;
	overflow: hidden;
	width: 504px;
}

.cal-dates li {
	float: left;
	width: 252px;
}

.cal-dates li a {
	cursor: default;
	float: left;
	width: 36px;
	*width: 35px;
	height: 32px;
	line-height: 32px;
	border-right: 1px solid #ccc;
	text-align: center;
	font-size: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cal-dates li a:nth-child(7n) {
	border-right: 0;
}

.cal-dates li a.today {
	position: relative;
	border: 1px solid #f00;
	*width: 34px;
	*height: 30px;
}

.cal-dates li a.disabled {
	color: #aaa;
}

.cal-dates li a.choosed {
	background: url(../../img/date_choose_bc.jpg) repeat;
	color: #fff;
}

.cal-dates li a.choice {
	background: url(../../img/date_send_bc.jpg) repeat;
	color: #fff;
}

.cal-dates li a.optional {
	cursor: pointer;
}

.cal-results {
	display: none;
	padding: 10px 10px 0;
	color: #333;
	font-size: 12px;
}

.cal-results:before {
	display: inline-block;
	background: #333;
	vertical-align: middle;
}

.cal-results span {
	color: #fa5f02;
}

.calendar-show {
	display: none;
	position: relative;
	height: 35px;
	line-height: 35px;
	padding: 0 5px;
	margin-top: 15px;
	border: 1px solid #ddd;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 12px;
	color: #ed6d00;
	font-weight: bold;
}

.calendar-show:after {
	content: "";
	position: absolute;
	right: 24%;
	top: -5px;
	width: 7px;
	height: 7px;
	border: 1px solid #ddd;
	border-width: 1px 1px 0 0;
	background: #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.btns-box {
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 10px;
	text-align: center;
}

.btns-box a:hover {
	color: #fff;
}

.org-btn {
	background: #f60;
	color: #ffffff;
	display: inline-block;
	font-size: 16px;
	width: 80px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.divRelative {
	position: relative;
	overflow: visible;
	z-index: 1000001
}
/*日历弹出层end*/
/**上传身份证照片 begin**/
.uploadIdBtn, .uploadPicBtn {
	display: inline-block;
	background: #f2f2f2;
	border: 1px solid #afb0af;
	color: #3c3c3c;
	padding: 3px 6px;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.idPop {
	position: absolute;
	z-index: 10000003;
	overflow: hidden;
	display: none;
	border: 5px solid #707571;
	background: #fff;
	width: 650px;
	padding: 20px 35px;
}

.idInfo {
	float: left;
	overflow: hidden;
	width: 280px;
	margin: 25px 0;
}

.idInfo h3 {
	color: #000;
	font-size: 14px;
	font-family: Microsoft Yahei;
}

.picBc {
	position: relative;
	text-align: center;
	width: 280px;
	height: 180px;
}

.upPicArea {
	position: absolute;
	z-index: 10000006;
	left: 70px;
}

.mrgT80 {
	margin-top: 112px;
}

.mrgR80 {
	margin-right: 80px;
}

.popClose {
	position: absolute;
	top: 4px;
	right: 3px;
	color: #707571;
	font-size: 28px;
	text-align: center;
	cursor: pointer;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.idPicArea {
	margin-top: 22px;
	width: 216px;
	height: 136px;
	overflow: hidden;
	display: inline-block;
}

.upPicShow {
	position: absolute;
	top: 22px;
	left: 30px;
	z-index: z-index:10000005;
	width: 217px;
	height: 137px;
	overflow: hidden;
	display: inline-block;
}

.idPicFront {
	overflow: hidden;
	display: inline-block;
	margin-top: 12px;
	width: 228px;
	height: 149px;
	background: url(../../img/upload_id_front.jpg)
		no-repeat;
}

.idPicBack {
	background: url(../../img/upload_id_back.jpg)
		no-repeat;
}

.idPicOnlyOne {
	background: url(../../img/upload_id_onlyone.jpg)
		no-repeat;
}

.idUpTips {
	clear: left;
	overflow: hidden;
}

.idUpTips span {
	float: left;
	margin-right: 5px;
	display: inline-block;
	width: 11px;
	height: 14px;
	background: url(../../img/fillout_order_info.png)
		-76px -2px;
}

.idUpTips label {
	color: #3c3c3c;
}

.idUpTips i {
	color: #f60;
	font-style: normal;
}

.uploadBtn {
	position: relative;
	margin-top: 20px;
	text-align: center;
}

.changeIdType {
	position: absolute;
	right: 0;
	top: 20px;
	color: #0033ff;
	cursor: pointer;
}

.uploadFile {
	position: absolute;
	cursor: pointer;
	z-index: 9999;
	color: #fff;
	top: 66px;
	left: -50px;
	display: inline-block;
	text-align: left;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
	background: #fff;
	width: 280px;
	height: 50px;
}

.uploadFile input {
	height: 27px;
	cursor: pointer;
}

.uploadIdShow {
	display: none;
}

.uploadIdShow span {
	float: left;
	margin-right: 10px;
	vertical-align: bottom;
}

.uploadIdShow span.operate, .uploadIdShow span.delete, .deleteUp {
	color: #36c;
	cursor: pointer;
}
/**上传身份证照片 end**/
/**新增购前须知**/
.knowBuy {
	margin-right: 40px;
	margin-top: 20px;
	text-align: right;
}
/**2014-8-26共享套餐**/
.J_phone-type .sharePackage {
	overflow: hidden;
	margin-bottom: 10px;
}

.J_phone-type .sharePackage li {
	float: left;
	margin: 5px 0;
	width: 450px;
}

.J_phone-type .sharePackage label {
	float: left;
	display: inline-block;
	padding-left: 20px;
	width: 90px;
	height: 25px;
	line-height: 25px;
}

.J_phone-type .sharePackage label.mainNum {
	background: url(../../img/diyIcon.png) 0 -52px no-repeat;
}

.J_phone-type .sharePackage .selectStyle {
	float: left;
	margin: 0px 10px 0 0;
	border: 1px solid #bbb;
	padding: 2px;
	height: 25px;
	line-height: 25px;
	width: 188px;
}

.phone-type .label-mode-share {
	width: 60px;
	color: #999;
}

.idPicGangao {
	background: url(../../img/card_gangao.jpg) no-repeat;
}

.idPicHukou {
	background: url(../../img/card_hukou.jpg) no-repeat;
}

.idPicHuzhao {
	background: url(../../img/card_huzhao.jpg) no-repeat;
}

.idPicJingguan {
	background: url(../../img/card_jingguan.jpg)
		no-repeat;
}

.idPicJunguan {
	background: url(../../img/card_junguan.jpg) no-repeat;
}

.idPicTaiwan {
	background: url(../../img/card_taiwan.jpg) no-repeat;
}

.upPicSucess label, .upPicSucess .deleteUp {
	float: left;
	margin: 5px 0 0 10px;
}

.uploadError {
	text-align: center;
	color: #de0101;
	margin-bottom: -10px
}

.colseCertic {
	position: absolute;
	border: 1px solid #707571;
	width: 268px;
	padding: 5px 5px 30px;
	background: #fff;
}

.colseCertic .popClose {
	top: 0px;
	right: 0px;
}

.errorTipsOne {
	margin: 20px auto;
}

.errorTipsOne p {
	text-align: center;
	margin: 10px 0;
}
/**2014-9-3**/
.quitBtn {
	display: inline-block;
	padding: 0 20px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	border: 0;
	color: #707571;
	background: #fff;
	border: 1px solid #8b8b8b;
	margin-left: 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
/**2014-9-29**/
.remind {
	color: #999;
	line-height: 24px;
}

.infoContent .title1 {
	width: 60px;
	float: left;
	line-height: 23px;
}

.infoContent .webDesc {
	width: 270px;
	line-height: 23px;
	margin-left: 60px;
}

.infoContent label {
	color: #f60;
}

.numberMainAfter {
	background: url(../../imgl/diyIcon.png) 147px -52px no-repeat;
}

.sel_style {
	width: 146px;
	height: 26px;
	margin-right: 10px;
	padding: 4px 4px 4px 0px;
	border: 1px solid #bbb;
	*margin-top: 2px;
}

.install_province {
	width: 183px;
}

.goodListZs .title {
	width: 330px;
}
/**2015/1/16 黑卡行动**/
.uploadBtnLink {
	display: inline-block;
	background: #fff;
	border: 1px solid #999;
	margin-right: 5px;
	color: #3c3c3c;
	padding: 2px 10px;
	text-align: center;
}

.uploadBtnLink:hover {
	text-decoration: none;
	border: 1px solid #ef8700;
	color: #000;
}
/**温馨提示begin**/
.tipsLayer {
	position: absolute;
	z-index: 10000006;
	width: 600px;
	overflow: hidden;
	box-shadow: 0px 0px 16px #333;
}

.tipsLayer .tipsTop {
	height: 35px;
	background: #f36f2a;
	overflow: hidden;
}

.tipsLayer .tipsMid {
	background: #fff;
}

.tipsTop h3 {
	padding-left: 10px;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
}

.tipsTop .closeLayer {
	position: absolute;
	top: 10px;
	right: 15px;
	color: #fff;
}

.tipsTop .closeLayer:hover {
	cursor: pointer;
}

.tipsMid p {
	padding: 20px;
	line-height: 25px;
	font-size: 14px;
	color: #333;
}

.tipsMid .submitDiv {
	text-align: center;
	padding-bottom: 20px;
}

.tipsMid .submitDiv .submitBtn {
	display: inline-block;
	width: 140px;
	height: 30px;
	line-height: 30px;
	margin-right: 5px;
	text-align: center;
	background: #f36f2a;
	color: #fff;
	font-size: 14px;
}

.tipsMid .submitDiv .submitBtn:hover {
	text-decoration: none;
	cursor: pointer;
	background: #f60;
}
/**温馨提示end**/
/**证件上传begin**/
.idLayer {
	position: absolute;
	z-index: 10000004;
	width: 880px;
	overflow: hidden;
	box-shadow: 0px 0px 16px #ccc;
}

.idLayer .idTop {
	height: 35px;
	background: #ff6600;
}

.idLayer .idMid {
	background: #fff;
	overflow: hidden;
}

.idMid .uploadTop {
	overflow: hidden;
}

.idTop h3 {
	padding-left: 10px;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
}

.idTop .closeLayer {
	position: absolute;
	top: 10px;
	right: 15px;
	color: #fff;
}

.idTop .closeLayer:hover {
	cursor: pointer;
}

.idMid .midL {
	position: relative;
	float: left;
	width: 505px;
	padding: 30px 40px;
}

.idMid .midR {
	position: relative;
	float: left;
	width: 254px;
	padding: 23px 20px 232px;
	*padding: 23px 20px 245px;
	border-left: 1px solid #ddd;
	overflow: hidden;
	background: url(../../img/tuan.png) repeat;
}

.midL .titlePlace, .midR .titlePlace {
	position: relative;
	padding-bottom: 4px;
	margin-bottom: 30px;
	border-bottom: 1px dashed #f60;
}

.midL .titlePlace .titleUp {
	padding-left: 40px;
	font-family: "微软雅黑";
	font-size: 20px;
	background: url(../../img/uplogo.png) 0 3px no-repeat;
}

.midR .titlePlace .titleUp {
	padding-left: 45px;
	font-family: "微软雅黑";
	height: 35px;
	font-size: 20px;
	background: url(../../img/uplogo.png) 10px -32px
		no-repeat;
}

.titlePlace .tipMesLink {
	position: absolute;
	top: 10px;
	right: 5px;
	color: #2f63cf;
	font-size: 14px;
	cursor: pointer;
}

.midL .uploadPlace {
	position: relative;
	padding-bottom: 17px;
	overflow: hidden;
}

.uploadPlace .tipsPos {
	padding-bottom: 5px;
	color: #666;
}

.uploadPlace .reUpload {
	padding-left: 95px;
	color: #fff;
}

.uploadPlace .uploadImgFile {
	position: relative;
	width: 244px;
	height: 154px;
	text-align: center;
	background: #f8f8f8;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
}

.uploadImgFile .firstState {
	display: inline-block;
	margin-top: 40px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.uploadImgFile .firstState i {
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url(../../img/addImg.png) no-repeat;
}

.uploadImgFile .firstState p {
	padding-top: 15px;
	color: #999;
}

/*.uploadImgFile .other{display: inline-block;width: 0;height: 100%;vertical-align: middle;}*/
.uploadImgFile .imgShow {
	position: absolute;
	top: 0;
	left: 0;
	width: 244px;
	height: 154px;
}

.uploadImgFile .uploadSuccess {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 22;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.uploadImgFile .reUpbyPc {
	position: absolute;
	top: 0;
	left: 0;
	width: 244px;
	height: 154px;
	background: #415258;
	z-index: 2;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.uploadImgFile .errorTip {
	position: absolute;
	top: 65px;
	left: 95px;
	color: #fff;
	z-index: 5;
}

.midL .tipMess {
	position: relative;
	margin: 10px 0;
	text-align: center;
	color: #e60012;
}

.midL .tipMess i {
	position: absolute;
	top: -5px;
	left: 80px;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	background: url(../../img/lampRed.png) 0 5px
		no-repeat;
}

.midL .submitBtn {
	display: block;
	width: 160px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	text-align: center;
	background: #ef8700;
	color: #fff;
	font-size: 18px;
	font-family: "微软雅黑";
}

.midL .submitBtn:hover {
	text-decoration: none;
	cursor: pointer;
	background: #f60;
}

.midR .phonePlace {
	padding: 0 2px 40px 6px;
	background: #fff;
}

.midR .phoneImgArea {
	width: 206px;
	overflow: hidden;
	padding: 5px 12px;
	border-left: 4px solid #d4d9da;
	border-right: 4px solid #d4d9da;
}

.phoneImgArea .maArea {
	padding: 68px 38px 40px 38px;
	margin: 10px 0;
	background: #fad3af;
	overflow: hidden;
}

.phoneImgArea .maArea .maImg {
	position: relative;
	margin: 0 auto 30px;
	border: 1px solid #eac098;
}

.phoneImgArea .maArea .maImg img {
	width: 128px;
	height: 128px;
}

.phoneImgArea .maArea .maImg .reUpByPhone {
	position: absolute;
	top: 0;
	left: 0;
	width: 128px;
	height: 128px;
	background: #fff;
	filter: alpha(opacity = 70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.phoneImgArea .maArea .maImg .upError {
	position: absolute;
	top: 45px;
	left: 30px;
	font-size: 14px;
	font-weight: bold;
}

.phoneImgArea .maArea .maImg .reGet {
	position: absolute;
	top: 65px;
	left: 35px;
	width: 60px;
	height: 25px;
	line-height: 25px;
	background: #ed6d00;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.phoneImgArea .maArea .tipsToPhone {
	padding-bottom: 15px;
	color: #9c6c4c;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 18px;
}

.idExampleSub {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.idExampleSub .submitBtn {
	display: inline-block;
	width: 160px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 4px;
	background: #ef8700;
	color: #fff;
	font-size: 18px;
	font-family: "微软雅黑";
}

.idExampleSub .submitBtn:hover {
	text-decoration: none;
	cursor: pointer;
	background: #f60;
}

.idMid h3 {
	margin-top: 25px;
	font-family: "微软雅黑";
	font-size: 16px;
	font-weight: bold;
}

.idLayer .pd {
	padding: 15px 35px;
}

.idMid .tipMes {
	padding: 30px;
}

.idMid .tipMes p {
	line-height: 25px;
	color: #333;
	font-size: 14px;
}

.idMid .tipMes span {
	line-height: 20px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.idMid .tipMes .pcLogo {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../../img/pcLogo.png) no-repeat;
	font-weight: bold;
	color: #333;
	font-size: 14px;
}

.uploadShow {
	width: 244px;
	overflow: hidden;
}

.uploadShow .titleTip {
	font-family: "微软雅黑";
	font-size: 16px;
}

.uploadShow .uploadTip {
	font-family: "微软雅黑";
	font-size: 14px;
}

.uploadShow img {
	width: 244px;
	height: 154px;
	margin: 10px 0;
}

.idLayer .examplePlace {
	border: none;
	padding: 20px 0;
	overflow: hidden;
}

.tipMes ul {
	list-style: none;
}

.tipMes li {
	line-height: 25px;
	font-size: 14px;
}

.tipMes li span {
	display: inline-block;
	font-size: 14px;
	padding-left: 10px;
}

#IdExample {
	z-index: 10000006;
}

.br {
	border-right: 1px dashed #f60;
}

.bgf9f5ec {
	background: #f9f5ec;
}

.pr18 {
	padding-right: 18px;
}

.pl18 {
	padding-left: 18px;
}

.ownImg {
	border: 1px dashed #999;
}

.showImg {
	border: 1px dashed #fff;
}

.photoSpan {
	display: inline-block;
	height: 25px;
	line-height: 25px;
}

.hasSend {
	background: url(../../img/hasOk.png) 0 5px no-repeat;
	padding-left: 18px;
	padding-right: 5px;
	font-size: 14px;
	font-family: 微软雅黑;
	font-weight: 800;
}

.mr13 {
	margin-right: 13px;
}
/**2015/2/11 add**/
.tipsMid img {
	position: absolute;
	top: 55px;
	left: 30px;
	width: 40px;
	height: 40px;
}

.tipsMid p.warning {
	padding-left: 80px;
	color: red;
}
/**2015/3/6 add**/
.uploadPlace .tipsPosExam {
	position: absolute;
	top: 0;
	right: 30px;
	padding-bottom: 5px;
	color: #666;
}
/**2015/3/6 add 空中入网使用**/
.identifyType {
	display: inline-block;
	margin: 5px 15px 5px 0;
}

.identifyType input {
	margin-right: 2px;
}

.identifyType label {
	*vertical-align: -2px;
}

.tipsWarn {
	position: relative;
	padding: 15px;
	margin-bottom: 15px;
	background: #f8f8f8;
}

.tipsWarn p {
	color: #000;
}

.tipsWarn .triangle {
	position: absolute;
	top: -15px;
	left: 74px;
	*left: 80px;
	width: 0;
	height: 0;
	border-left: 12px solid #fff;
	border-right: 12px solid #fff;
	border-bottom: 15px solid #f8f8f8;
}

.tipsWarn .triangleOut {
	left: 154px;
	*left: 170px;
}

.tipsWarn .triangleOn {
	left: 74px;
	*left: 80px;
}
/** 联系人 add**/
.infoBox .contactsInfo {
	display: inline-block;
	overflow: hidden;
	margin-right: 50px;
}

.infoBox .contactsInfo label {
	display: inline-block;
	float: left;
	line-height: 26px;
	padding-right: 5px;
}

.contactsBtn {
	display: block;
	width: 40px;
	margin: 20px 0 10px;
}

.messEdit {
	display: inline-block;
	padding: 6px 0 0 15px;
	color: #36c;
	cursor: pointer;
}
/**2015/522 add 主副卡使用**/
.host-head {
	width: 100%;
}

.host-head img {
	width: 100%;
}

.infoBox .contactsInfo {
	display: block;
	margin-bottom: 10px;
}

.infoBox .contactsInfo .linkName {
	display: inline-block;
	width: 50px;
	line-height: 26px;
	padding-right: 5px;
}

/**2015/5/28 add**/